{% extends 'base.html.twig' %}

{% block title %}Hello DateAndHourController!{% endblock %}
 {% block stylesheets %}
     {{ encore_entry_link_tags('app') }}
 {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">


    this is the date and time: {{ date }}
</div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
